<div class="container">
  <h1 class="mt-4">Welcome to RoadBnb</h1>

  <h2 class="mt-4">Cars Listing</h2>

  <div class="row mt-3">
    <% @cars.each do |car| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="<%= car.img_url %>" class="card-img-top" alt="Car image">
          <div class="card-body">
            <h5 class="card-title"><%= car.make %> <%= car.model %></h5>
            <p class="card-text">Year: <%= car.year %></p>
            <%= link_to 'Show', car, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'New Car', new_car_path, class: 'btn btn-success' %>

  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
  <% end %>
</div>
