<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card car-card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="car-details p-4">
              <h1 class="car-title mb-4"><%= @car.make %> <%= @car.model %></h1>
              <div class="row mb-3">
                <div class="col-md-4">
                  <p class="mb-1"><strong>Make:</strong></p>
                  <p><%= @car.make %></p>
                </div>
                <div class="col-md-4">
                  <p class="mb-1"><strong>Model:</strong></p>
                  <p><%= @car.model %></p>
                </div>
                <div class="col-md-4">
                  <p class="mb-1"><strong>Year:</strong></p>
                  <p><%= @car.year %></p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <p class="mb-1"><strong>Description:</strong></p>
                  <p><%= @car.description %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="mb-1"><strong>Contact the owner:</strong></p>
                  <p><%= @car.user.email %></p>
                </div>
              </div>
              <% if user_signed_in? && current_user.id == @car.user_id %>
                <div class="row">
                  <div class="col-md-12">
                    <%= link_to edit_car_path(@car), class: "btn btn-link" do %>
                      <i class="fas fa-pen"></i> Edit
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="row">
                <div class="col-md-12">
                  <%= link_to cars_path, class: "btn btn-link" do %>
                    <i class="fas fa-arrow-left"></i> Back
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
  <div class="car-images">
    <img src="<%= @car.main_image %>" alt="Car main image" class="img-fluid mb-3">
    <% @car.car_images.each do |car_image| %>
      <img src="<%= car_image.image %>" alt="Car image" class="img-fluid mb-3">
    <% end %>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
