<div class="container mt-4">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color: #f8f9fa;">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="d-flex align-items-center">
          <%= image_tag "roadbnb_logo.png", alt: "RoadBnb Logo", style: "width: 75px; height: 75px;" %>
          <span class="ms-2" style="font-weight: bold; color: #0b5559; font-size: 40px;">RoadBnb</span>
        </div>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link", style: "color: #0b5559;" %>
          </li>
          <li class="nav-item">
            <%= link_to "Browse Cars", cars_path, class: "nav-link", style: "color: #0b5559;" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "List a car", new_car_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  .navbar-lewagon .navbar-nav .nav-link:hover {
    color: #dc3545;
  }
</style>
